In [1]:
str="pwskill"

str

In [2]:
str

'pwskill'

In [3]:
str[::-1]

'llikswp'

In [4]:
if(str==str[::-1]):
    print("string is palindrome")
else:
    print("string is not palindrome")

string is not palindrome

In [5]:
str

'pwskill'

In [6]:
str.upper()

'PWSKILL'

In [7]:
str.lower()

'pwskill'

In [8]:
x=input("ENTR YOUR STRING:")
vowels=0
for i in x:
     if(i=='a'or i=='e'or i=='i'or i=='o'or i=='u' or i=='A' or i=='E' or i=='I'or i=='O'or i=='U'):
            vowels=vowels+1
print("number of vowels:")
print(vowels)

ENTR YOUR STRING: pooja

number of vowels:
3

In [9]:
s= "    pooja    rathore  "## removing white space from string
s.replace("  ","")

'poojarathore'

In [10]:
## without len() find length of string
x=input('enter the string:')
count=0
for i in x:
    if count!=" ":
       count=count+1
    print(count)

enter the string: pooja

1
2
3
4
5

In [11]:
## check string contains specific word
x=input("my class is data science masters:")
for i in x:
        masters=0
        if i==masters:
            print('masters in x')
        else:
            print('masters is not in x')

my class is data science masters: masters

masters is not in x
masters is not in x
masters is not in x
masters is not in x
masters is not in x
masters is not in x
masters is not in x

In [12]:
x= "pw skills data masters class"
x.replace('masters', 'science')

'pw skills data science class'

In [13]:
x= "pw skills data masters class" ## count occurence of a word in string
x.count('s')

6

In [14]:
## find first occurence of a word in a string
x= "pw skills data masters class"
x.find('a')

11

In [15]:
## find last occurence of word in string
x= "pw skills data masters class"
x.rfind('s')

27

In [16]:
x= "pw skills data masters class" ## split string
x.split()

['pw', 'skills', 'data', 'masters', 'class']

In [17]:
x= ['pw' ,'skills', 'data' ,'masters' ]## join a list of word in to a string   
s=""
s.join(x)

'pwskillsdatamasters'

In [18]:
x= ['pw_skills', 'data masters', 'p rath ore' ]## join a list of word in to a string   
s='_'

s.join(x)

'pw_skills_data masters_p rath ore'

In [19]:
x="goog morning"##conver in title case
x.title()

'Goog Morning'

In [20]:
x = 15

if x > 10:

   print("A")

if x < 20:

   print("B")

else:

   print("C")

A
B

In [21]:
x = 10

if x < 5:

   print("A")

if x > 5:

   print("B")

else:

   print("C")

B

In [22]:
x = 5

if x > 10:

   print("A")

else:

   print("B")

if x > 3:

   print("C")

else:

   print("D")

B
C

In [23]:
x = 3

if x > 5:

   print("A")

else:

    if x > 2:

       print("B")

    else:

       print("C")

B

In [24]:
x = 10

if x > 5:

   print("A")

if x > 7:

   print("B")

A
B

In [25]:
x = 8

if x > 10:

   print("A")

else:

    if x > 7:

       print("B")

    else:

       print("C")

B

In [26]:
x = 1

if x > 1:

   print("A")

if x > 0:

   print("B")

B

In [27]:
x = 5

if x > 10:

   print("A")

elif x > 3:

   print("B")

elif x == 5:

   print("C")

else:

   print("D")

B

In [28]:
## create list with int 1 tp 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
## find length without len()
l=[1,2,3,4,5]
count=0
for i in l:
    count=count+1
    
print(count)
print('length of list')

5
length of list

In [30]:
## append element to end of list
l1=[1,2,3,4,5]
l1.append('6')

In [31]:
l1

[1, 2, 3, 4, 5, '6']

In [32]:
## insert element to end of list
l1=[1,2,3,4,5]
l1.insert(5,'pooja')

In [33]:
l1

[1, 2, 3, 4, 5, 'pooja']

In [34]:
##remove ele by its value
l1=[1,2,3,4,5,'my']
l1.remove('my')

In [35]:
l1

[1, 2, 3, 4, 5]

In [36]:

l1=[1,2,3,4,5,'my']
l1[5]

'my'

In [43]:
l1

'7'

In [42]:
##check if an element exist in list
l1=input([1,2,3,4,5])
for i in l1:
    if i==5:
        print('it is exist in list')
    else:
            print('its not exist in list')

[1, 2, 3, 4, 5] 7

its not exist in list

In [46]:
## find index of first occurence of element in list
l1=[1,2,3,4,5,5,6,2,3]
l1.index(5)

4

In [48]:
#count the element of list
l1=[1,2,3,4,5,5,6,2,3]
l1.count(5)

2

In [49]:
##revers the order of element
l1=[1,2,3,4,5,5,6,2,3]
l1[::-1]

[3, 2, 6, 5, 5, 4, 3, 2, 1]

In [50]:
##sort in ascending order
l1=[1,2,3,4,5,5,6,2,3]
l1.sort()

In [51]:
l1

[1, 2, 2, 3, 3, 4, 5, 5, 6]

In [52]:
## sort in deascending
l1=[1,2,3,4,5,5,6,2,3]
l1.sort(reverse= True)

In [53]:
l1

[6, 5, 5, 4, 3, 3, 2, 2, 1]

In [59]:
## find  even no in list
l1=[1,2,3,4,5,5,6,2,3]
for i in l1:
    if i%2==0:
        print("even no is:",i)

even no is: 2
even no is: 4
even no is: 6
even no is: 2

In [65]:
## create list of evevn no frm 1 to 20
l=[]
for i in range(1,20):
    if i%2==0:
        l.append(i)
        print(i)

2
4
6
8
10
12
14
16
18

In [66]:
## create list of odd no frm 1 to 20
l=[]
for i in range(1,20):
    if i%2!=0:
        l.append(i)
        print(i)

1
3
5
7
9
11
13
15
17
19

In [68]:
## find sum of all ele in list
## create list od odd nofrm 1 to 20
l1=[1,2,3,4,5,6,7,8,9]
sum=sum(l1)

In [69]:
sum

45

In [70]:
##find maximum value in list
l1=[5,12,45,47,96,56,45,78,]
max=max(l1)

In [71]:
max

96

In [72]:
## find min value
l1=[5,12,45,47,96,56,45,78,]
min=min(l1)

In [73]:
min

5

In [79]:
## create list squares of no frm 1 to 10
l=[]
for i in range(1,11):
    i=i*i
    l.append(i)
    print(i)

1
4
9
16
25
36
49
64
81
100

In [98]:
## create list of random no.
import random
r=random.sample(range(1,30),10)
print(r)

[6, 25, 17, 15, 1, 4, 3, 11, 24, 2]

In [112]:
## remove duplicate values from list
l1=[5,12,45,4,4,47,96,96,56,45,78,]
l=list(set(l1))

In [105]:
l

[96, 4, 5, 12, 45, 78, 47, 56]

In [113]:
##find the common  element between two list
l=[]
l1=[1,2,4,3,5,6]
l2=[2,7,8,3,5,9]
for l2 in l1:
    if l2==l1:
        l.append(l2)
        print(l)

In [115]:
##find the common  element between two list
l1=[1,2,4,3,5,6]
l2=[2,7,8,3,5,9]
list(set(l1).intersection(l2)) ## using intersection method

[2, 3, 5]

In [124]:
## merge two list
l1=[1,2,4,3,5,6]
l2=[2,7,8,3,5,9]
l3=l1+l2 ## using +operator

In [125]:
l3

[1, 2, 4, 3, 5, 6, 2, 7, 8, 3, 5, 9]

In [126]:
## merge two list
l1=[1,2,4,3,5,6]
l2=[2,7,8,3,5,9]
l1.extend(l2) ## using extend ()

In [127]:
l1

[1, 2, 4, 3, 5, 6, 2, 7, 8, 3, 5, 9]

In [129]:
##multiply all ele by 2
l1=[1,2,3,4,5]
for i in l1:
    x=i*2
    print(x)

2
4
6
8
10

In [130]:
##filter out all even no from a list
## merge two list
l1=[1,2,4,3,5,6]
for i in l1:
    if i%2==0:
        print(i)

2
4
6

In [137]:
## convert a list of string to a list of integers
l=['1','2','3','4','5']
l1=map(int,l)
print(list(l1))

[1, 2, 3, 4, 5]

In [141]:
## convert a list of integer to a list of string
l=[1,2,3,4,5,6]
l1=map(str,l)
print(l1)

<map object at 0x7f80e4467610>

In [149]:
## flatten a nested list
l1=[[1],[2,3],[4,5,6]]
l = []
for i in l1:
    for j in i:
        l.append(j)
        
print(l)

[1, 2, 3, 4, 5, 6]

In [17]:
## create a list of fibonacci no
l=[0,1]
for i in range(2,11):
    next_no=l[i-1]+l[i-2]
    l.append(next_no)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [163]:
##check if list is sorted
l1=[2,3,1,4,7,6,8]
l2=l1[:]
l2.sort()
if l2==l1:
    print("yes sorted")
else:
        print("no sorted")

no sorted

In [167]:
l1=[1,2,3,4,5,6]
l1[:-4]

[1, 2]

In [169]:
## rotate list frm left side by position 2
l1=[1,2,3,4,5,6]
if 2<len(l1):
     l1=(l1[-2:]+l1[:-2])
print(l1)

[5, 6, 1, 2, 3, 4]

In [173]:
## rotate list frm right side by position 2
l1=[1,2,3,4,5,6]
if 2<len(l1):
     l1=(l1[-4:]+l1[:-4])
print(l1)

[3, 4, 5, 6, 1, 2]

In [23]:
## create a list of prime no up to 50
for i in range(2,51):
    for j in range(2,51):
         if i%j==0:
            break
    if i==j:
                print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [31]:
## split a list into chunks of size 'n'
l=[1,2,3,4,5,6,7,8]
for i in range(0,len(l),3):
    print(l[i:i+3])

[1, 2, 3]
[4, 5, 6]
[7, 8]

In [32]:
## find the second largest no in list
l1=[1,2,3,45,4,5,6,58,7,8,86]
l2=list(set(l1))
l2.sort()
print("second lagest no is:",l2[-2])

second lagest no is: 58

In [33]:
## replace every ele in square
l1=[1,2,3,4,5,6,7]
for i in l1:
    x=i*i
    print(x,end=",")

1,4,9,16,25,36,49,

In [37]:
## convert a list to dict where list ele is keye and their indices become value
l=[1,2,3,4,5,6,7,8]
l[1]=j

In [38]:
j

2

In [48]:
import random
l1=[1,2,3,4,5,6,7,8]
random.shuffle(l1)
print(l1)

[3, 8, 4, 6, 5, 2, 7, 1]

In [75]:
## find the  factorial
x=int(input("enter a no:"))
fact=1
if x<0:
    print("no factorial od negative no")
elif  x==0:
        print("fact of 0 is 1")
else:
        for i in range(1,x+1):
             fact=fact*i
        print("factorial of ",x," is",fact)

enter a no: 5

factorial of  5  is 120

In [7]:
## check if two list have at least one comman element
l1=[2,3,4,6,8,9]
l2=[1,2,6,10,12]
for i in l1:
    for j in l2:
        if i==j:
            print(i)

2
6

In [30]:
## remove all ele
l1=[2,3,4,6,8,9]
l1.clear()

In [9]:
l1

[]

In [16]:
## replace all negative no with 0
l1=[2,3,-4,6,8,-1,9,-7]
l2=[]
for i in l1:
    if i<0:
         l2.append(0)
    else:
        l2.append(i)

print(l2)

[2, 3, 0, 6, 8, 0, 9, 0]

In [2]:
##convert  string in a list of word
s="my name is pooja"
s.split()

['my', 'name', 'is', 'pooja']

In [6]:
## convert word of list in a string
l1=['my','name','is','pooja']
' '.join(l1)

'my name is pooja'

In [18]:
##  create a list of first n power of2
n=5
l=[]
for i in range(0,n):
    x=i**2
    l.append(x)
print(l)

[0, 1, 4, 9, 16]

In [20]:
##find longest string in a list of string
l=['my','name','is','pooja','rathore']
mx=max(l,key=len)
print("longest string is:", mx)

longest string is: rathore

In [21]:
##find shorted string in a list of string
l=['my','name','is','pooja','rathore']
mn=min(l,key=len)
print("longest string is:", mn)

longest string is: my

In [38]:
## create list of triangular no.
for i in range(1,n+1):
    print(n*(n+1)//2,end=" ")

10 10 10 10

In [32]:
30//2

15

In [ ]:
l1=[2,3,4,5,6,7]
l2=[2,3,4]
for i in l1:
    for j in l2:
        if i==j

## Tuple problems

In [6]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [8]:
## access third ele
t=(1,2,3,4,5)
t[2]

3

In [13]:
## find length of  tuple
t=(1,2,3,4,5)
count=0
for i in t:
    count=count+1
print('total count:',count)

total count: 5

In [15]:
## count occurrences of ele
t=(1,2,3,4,2,5,2)
a=2
count=0
for i in t:
    if i==a:
        count = count+1
print(count)

3

In [17]:
## find the index of first occurrence
t=(1,2,3,2,4,5)
t.index(2)

1

In [22]:
##check if ele is exist
t=(1,2,3,4,5)
n=2
for i in t:
    if n==i:
        print("element exist")
    else:
    print("ele not exist")

IndentationError: expected an indented block after 'else' statement on line 7 (1946335312.py, line 8)

In [ ]:
##