In [1]:
i=1

while i<=10:
    print(i)
    
    if i>=6:
        break
    i=i+1

1
2
3
4
5
6

In [2]:
num=[10,20,30,40,120,230]

for i in num:
    if i>100:
        break
    print(i)

10
20
30
40

In [3]:
s="hellow, pooja"
for i in s:
    print(i)
    if i==',':
        break

h
e
l
l
o
w
,

In [4]:
for letter in "pwskills":
    if letter=='i':
        continue
    print(letter)

p
w
s
k
l
l
s

In [5]:
# write a program to print odd number from 1 to 10
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [6]:
for i in range(1,11):
    if i%2==0:
        print(i)
    else:
            continue

2
4
6
8
10

In [7]:
for i in range(1,11):
    if i%2!=0:
        print(i)
    else:
            continue

1
3
5
7
9

In [8]:
for i in range(1,11):
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [9]:
for i in range(1,11):
    if i%2!=0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
## function

In [11]:
a=10
b=20
print(a+b)

30

In [12]:
def add(a,b):
    return a+b

##Create a function
​
def functionname(arguments):
    # function body
    
    return
-------------------------------------
call a function
​
functionname()

In [13]:
def greet():
    print("hello")

In [14]:
greet()

hello

In [15]:
def addnum():
    a=100
    b=200
    c=a+b
    print(c)

In [16]:
addnum()

300

In [17]:
addnum()

300

In [18]:
def add2num():
    a=int(input("enter first no"))
    b=int(input("enter second no"))
    c=a+b
    print(c)

In [19]:
;
add2num()

enter first no4
enter second no4
8

In [20]:
add2num()

enter first no5
enter second no5
10

In [21]:
def mul2num(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [22]:
mul2num(2,8)

16

In [23]:
def intro(name,lastname):
    print("hi",name+lastname)

In [24]:
intro('pooja','rathore')

hi poojarathore

In [25]:
## convert -21 to 21

In [26]:
def absolute(n):
    if n<0:
        print(-n)
    else:
        print(n)

In [27]:
absolute(-6)

6

In [28]:
def fullname(a,b):
    c=a+b
    print(c)

In [29]:
x=fullname('advik','rathore')

advikrathore

In [30]:
type(x)

NoneType

In [31]:
def fullname(a,b):
    c=a+b
    return(c)

In [32]:
y=fullname('advik','rathore')

In [33]:
type(y)

str

In [34]:
w=fullname('advik','rathore')

In [35]:
type(w)

str

In [36]:
def cal(a,b):
    c=a+b
    d=a*b
    e=a-b
    return c,d,e

In [37]:
x=cal(9,5)

In [38]:
type(x)

tuple

In [39]:
def cal():
    a=int(input("enter the first no"))
    b=int(input("enter the second no"))
    summ =a+b
    subtract=a-b
    divide=a//b
    return summ,subtract,divide

In [40]:
cal()

enter the first no2
enter the second no5

(7, -3, 0)

In [41]:
def cal(a,b):
    ope=input("enter a operator")
    if ope=="add":
        return a+b
    if ope=="sub":
        return a-b
    if ope=="mul":
        return a*b
    else:
        return a/b

In [42]:
cal(6,7)

enter a operatoradd

13

find area of circle ------ 3.14*r*r
find area of rec ------ l*b
find area of triangle- 1/2*b*h

In [43]:
def area(r):
    return 3.14*r*r

In [44]:
area(3)

28.259999999999998

In [45]:
def area_rect(l,b):
    return l*b

In [46]:
area_rect(5,5)

25

In [47]:
def area(b,h):
    return 0.5*b*h

In [48]:
area(2,3)

3.0

1. Print the first 5 positive integers in ascending order with one number 
in each line

In [49]:
def number():
    for i in range(6):
        print(i)

In [50]:
number()

0
1
2
3
4
5

In [51]:
for i in range(6):
    print(i)

0
1
2
3
4
5

3. Accept an integer as input and print its square as output.

In [52]:
def sqr():
    a=int(input("enter a number"))
    return a*a

In [53]:
sqr()

enter a number

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=int(input("Enter the number"))
print(a*a)

4.Accept two integers as input and print their sum as output.

In [54]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3=num1+num2
print(f"the sum of {num1} and{num2} is {num3}:".format(num1,num2,num3))

Enter the first number:

ValueError: invalid literal for int() with base 10: ''

5. Accept two words as input and print the two words after adding a 
space between them

In [55]:
a=input("enter 1st word")
b=input("enter 2st word")
print(a," ",b)

enter 1st word
enter 2st word

create a python program that includes a user-defined function called print_even_number().
the function should prompt the user to set a range limit before printing
all even numbers upto that limit

In [56]:
def print_even_no():
    limit1=int(input("enter first limit:"))
    limit2=int(input("enter second limit:"))
    for i in range(limit1,limit2+1):
        
        if i%2==0:
            print(i)

In [57]:
print_even_no()

enter first limit:2
enter second limit:20
2
4
6
8
10
12
14
16
18
20

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [58]:
def  checkrighttringle():
    a = int(input('Enter the first side of triangle : '))
    b = int(input('Enter the second side of triangle : '))
    c = int(input('Enter the third side of triangle : '))
    if a**2==b**2+c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2:  
        print('it is a right tringle')
    else:
        print('it is not a right tringle')

In [59]:
checkrighttringle()

Enter the first side of triangle : 5
Enter the second side of triangle : 6
Enter the third side of triangle : 2
it is not a right tringle

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [62]:
def password()
s=input("enter email id")
if (len(s)>=8 and len(s)<=32):
    for i in s:
        if i[0].islower():
            i=i+1
            if i[0].upper():
                i=i+1
                if i!='/' and i!='\'and i!='='
                print(true)
                else:
                    print("it is not valid passw)

SyntaxError: unterminated string literal (detected at line 10) (1675173688.py, line 10)