##print the no. from 1 to 10 using for loop

In [3]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
##sum of all no. in the list   using for loop

In [10]:
total=0
l=[1,2,3,4,5,6,7,8,9,10]
for i  in range(0,len(l)):
    total=total+l[i]
print(total)

55

In [11]:
##print char of string in revers order  using for loop

In [24]:
s="pwskills"
str=" "
for i in s:
    str=i+str
print(str)

sllikswp

In [25]:
## find factorial of given no using for

In [28]:
a=int(input("enter the no:"))
if a>=1:
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    print(fact)

enter the no: 5

120

In [29]:
## print multiplication table of given no.

In [15]:
a=int(input("enter the no:"))
for i in range(1,11):
    print("{}*{}={}".format(a,i,(a*i)))

enter the no: 6

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [17]:
## count no even or odd using for loop

In [35]:
l=[1,2,3,4,5,6,7,8]
      
even_count==0, odd_count==0
for i in l:
    if i%2==0:
        even_count+=1
    else:
            odd_count+=1
    print("total even no:", even_count)
    print("total odd no:" ,odd_count)

NameError: name 'even_count' is not defined

In [26]:
##print the sqyre of no 1 to 5

In [27]:
for i in range(1,6):
    a=i*i
    print(a)

1
4
9
16
25

## 8).find length of string without using len()

In [47]:
a=input("enter the string:")
count=0
for i in a:
    count=count+1
    
print("length of string:",  count)

enter the string: pooja

length of string: 5

In [48]:
## calculate the average of list of no. using for loop

In [52]:
l=[1,2,3,4,5,6,7]
for i in l:
    b=sum(l)/len(l)
    
print(b)

4.0

In [2]:
## 11. check if a given listcontain duplicates

In [7]:
l=[1,2,3,1,2,4,5,6,5]
list=[]
dupli=[]
for i in l:
    if i not in list:
        list.append(i)
    else:
            dupli.append(i)
print(dupli)

[1, 2, 5]

In [8]:
## print prim np. to given any range

In [62]:
for i in range(2,10):
    for j in range(2,i):
        if i%j==0:
            break
    else:
           print(i)

2
3
5
7

In [31]:
## count vowel using for loop
## print fabonacci no

In [62]:
s=input("enter the string:")
count=0

for i in s:
     if i in "aAeEiIoOuU":
        count+=1
        
print("count:",count)

enter the string: pooja

count: 3

In [50]:
## find maximum ele  in a given 2D list using nested a for loop

In [73]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
max_ele=matrix[0][0]
for row in matrix:
    for ele in row:
        if ele>max_ele:
            max_ele=ele
            
print(max_ele)

9

In [12]:
## to [rint the comman ele from two list
l1=[1,2,3,4]
l2=[2,5,6,3]
l=[]
for i in l1:
    for j in l2:
        
        if i==j:
            l.append(i)
        
print(l)

[2, 3]

In [13]:
## print yhe pattern of right angled triangle using a for loop use(* to draw)

In [23]:
num=int(input("enter the no. of rows:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

enter the no. of rows: 5

*
**
***
****
*****

In [25]:
num=int(input("enter the no. of rows:"))
for i in range(num,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

enter the no. of rows: 8

********
*******
******
*****
****
***
**
*

In [26]:
## find greater comman divisor of two no

In [35]:
a=int(input("enter the first no"))
b=int(input("enter the second no"))
n=min(a,b)
gcd=0
for i in range(1,n+1):
    if a%i==0 and b%i==0:
        gcd=i
        print(i)

enter the first no 2
enter the second no 4

1
2

In [36]:
a=int(input("enter the first no"))
b=int(input("enter the second no"))
i=1
while(i<=a and i<=b):                                ## problem code
    if (a%i==0 and b%i==0):
        i=i+1
        print(i)

enter the first no 2
enter the second no 4

2
3

In [2]:
##calculate the of the digits of no. in a list using list comprehension

In [4]:
l=[1,2,3,4,5,6] 
a=[sum(l) for i in l ]

In [6]:
sum(l)

21

In [7]:
## find prim factor of given no using for loop & list comprehension

In [5]:
[i for i in range(2, int(input())) if all(i % j != 0 for j in range(2, i))]

 15

[2, 3, 5, 7, 11, 13]

In [11]:
## extract unique ele from list using list comprehension

In [20]:
l=[1,2,3,2,4,5,5]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
        
print(l1)

[1, 2, 3, 4, 5]

In [3]:
l=[1,2,3,2,4,5,5]
l1=[]
[l1.append(i) for i in l if i not in l1]
print(l1)

[1, 2, 3, 4, 5]

In [22]:
## genrat all palindromic no using list comprehension

In [7]:
for i in range(10,50):
    count=0
if str(i)==str(i)[::-1]:
print(i)
    count=count+1
    
print(count)

IndentationError: expected an indented block after 'if' statement on line 3 (3347511152.py, line 4)

## problam

In [32]:
## flatten a list using list comprehension

In [2]:
l=[[1],[2,3],[4,5,6]]
l1=[]
for i in l:
    for j in i:
        l1.append(j)
        
print(l1)

[1, 2, 3, 4, 5, 6]

In [4]:
[(l1).append(j) for i in l for j in i ]

[None, None, None, None, None, None]

In [45]:
## sum of even no or odd no in seprate list using list comprehension

In [59]:
 l1=[]
l2=[]
for i in range(1,10):
    if i%2==0:
        l1.append(i)
    else:
        l2.append(i)
print(sum(l1))
print(sum(l2))
        
                                             ## how to make it with list comprehesion

20
25

In [63]:
## list of squere of odd no between 1 to 10 with list comprehension

In [64]:
[i*i for i in range(1,10) if i%2!=0 ]

[1, 9, 25, 49, 81]

In [9]:
## extract the vowels from a string store  in a list using list comprehension

In [13]:
s="pwskills"
l=[]
[l.append(i) for i in s if i=='aAeEiIoOuU']

[]