In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df =sns.load_dataset("mpg")

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
df.drop("name",axis =1,inplace =True)

In [5]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [6]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [7]:
df["horsepower"].median()

93.5

In [8]:
df["horsepower"]=df["horsepower"].fillna(df["horsepower"].median())

In [9]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa

In [10]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [12]:
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [13]:
df.origin.value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [14]:
df['origin']=df['origin'].map({"usa":1, "japan": 2, "europe": 3})

In [15]:
df['origin']

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    3
395    1
396    1
397    1
Name: origin, Length: 398, dtype: int64

In [16]:
x=df.drop('mpg',axis=1)
y=df['mpg']

In [17]:
x

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504,12.0,70,1
1,8,350.0,165.0,3693,11.5,70,1
2,8,318.0,150.0,3436,11.0,70,1
3,8,304.0,150.0,3433,12.0,70,1
4,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1
394,4,97.0,52.0,2130,24.6,82,3
395,4,135.0,84.0,2295,11.6,82,1
396,4,120.0,79.0,2625,18.6,82,1
397,4,119.0,82.0,2720,19.4,82,1

In [18]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=1)

In [20]:
x_train.shape,x_test.shape

((278, 7), (120, 7))

In [21]:
from sklearn.linear_model import LinearRegression
regression_model=LinearRegression()
regression_model

LinearRegression()

In [22]:
regression_model.fit(x_train,y_train)

LinearRegression()

In [24]:
for i,col_name in enumerate(x_train.columns):
    print(f"The cofficient for {col_name} is{regression_model.coef_[i]}")

The cofficient for cylinders is-0.31761423027992697
The cofficient for displacement is0.026237482599078894
The cofficient for horsepower is-0.018270764913124512
The cofficient for weight is-0.0074877503983619064
The cofficient for acceleration is0.05040673461971419
The cofficient for model_year is0.8470951427061366
The cofficient for origin is1.519095838797505

In [26]:
from sklearn.metrics import r2_score
y_pred =regression_model.predict(x_test)
r2_score(y_test,y_pred)

0.8348001123742286

In [28]:
# ridge regression
from sklearn.linear_model import Ridge
ridge_regression_model=Ridge(alpha=100)
ridge_regression_model.fit(x_train,y_train)
for i,col_name in enumerate(x_train.columns):
    print(f"The cofficient for {col_name} is{ridge_regression_model.coef_[i]}")

The cofficient for cylinders is-0.10121103813474168
The cofficient for displacement is0.015497047234983127
The cofficient for horsepower is-0.015154146537674731
The cofficient for weight is-0.007251601127122951
The cofficient for acceleration is0.030640385245582675
The cofficient for model_year is0.7914981246881717
The cofficient for origin is0.7240611102907389

In [30]:
from sklearn.metrics import r2_score
y_pred = ridge_regression_model.predict(x_test)
r2_score(y_test, y_pred)

0.8350365150570256

In [38]:
## lasso regression
from sklearn.linear_model import Lasso
lasso_regression_model=Lasso(alpha=0.5)
lasso_regression_model.fit(x_train,y_train)
for i,col_name in enumerate(x_train.columns):
    print(f"The cofficient for {col_name} is{lasso_regression_model.coef_[i]}")

The cofficient for cylinders is-0.0
The cofficient for displacement is0.006208198888300369
The cofficient for horsepower is-0.01105838298716959
The cofficient for weight is-0.006982673168023089
The cofficient for acceleration is0.0
The cofficient for model_year is0.744654952003819
The cofficient for origin is0.0

In [39]:
from sklearn.metrics import r2_score
y_pred = lasso_regression_model.predict(x_test)
r2_score(y_test, y_pred)

0.8277934716635555

In [37]:
from sklearn.linear_model import ElasticNet

In [41]:
elastic_regression_model =ElasticNet(alpha=0.7,l1_ratio=0.4)
elastic_regression_model.fit(x_train,y_train)
for i,col_name in enumerate(x_train.columns):
    print(f"The coefficient for {col_name} is {elastic_regression_model.coef_[i]}")

The coefficient for cylinders is -0.0
The coefficient for displacement is 0.008796650687328619
The coefficient for horsepower is -0.014340602945303127
The coefficient for weight is -0.007014835234468057
The coefficient for acceleration is 0.0
The coefficient for model_year is 0.7466747493014688
The coefficient for origin is 0.27712421163022033