17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [2]:
def validpassword(pwd:str):
    if 8<=len(pwd)<=32 and pwd[0].isalpha and all(i not in pwd for i in [" ","'","/","=",'"',"\\"]):
        return True
    else:
        return False

In [4]:
validpassword("pdnmvjljdfj")

True

In [5]:
##  local variable
def greet():
    message="Hello"
    print("local",message)

In [6]:
greet()

local Hello

In [9]:
def greet():
    message="Hello"
    print("local",message)
    
print(message)

NameError: name 'message' is not defined

In [10]:
greet()

local Hello

In [13]:
def add():
    x=10
    y=20
    print(x+y)
print(x)## because x,y is local
print(y)

NameError: name 'x' is not defined

In [14]:
add()

30

In [30]:
x="good"
## global variable

def myfun():
    x="fantastic"
    ## local scop
    print("python is"+x)
    
    

myfun()
print(x)

python isfantastic
good

In [35]:
x=20
def add():
    y=30
    print("local variable y=",y)
    print("globle variable x=",x)
    z=x+y
    print(z)

In [36]:
add()

local variable y= 30
globle variable x= 20
50

## python function aeguments

## 1.positional Argument

In [37]:
def add(a,b):
    sum=a+b
    print("sum",sum)

In [38]:
add(2,5)

sum 7

In [39]:
def emp_name(name):
    print("my name is",name)

In [40]:
emp_name('pooja')

my name is pooja

## 2.default Argument

In [41]:
def add(a=4,b=5):
    sum=a+b
    print("sum",sum)

In [42]:
add()

sum 9

In [43]:
add(5,9)

sum 14

## Keyword Argument

In [44]:
def info(first_name,last_name):
    print("first name",first_name)
    print("last name",last_name)

In [47]:
info(first_name="pw",last_name="skills")

first name pw
last name skills

In [51]:
def add_numbers(a,b):
    sum = a+b
    print("sum",sum)

In [52]:
add(a=10,b=9)

sum 19

In [56]:
def add_no(a,b,c,d):
    sum= a+b+c+d
    print("sum",sum)

In [57]:
add_no(1,2,3,4)

sum 10

##  *args and **kargs

In [79]:
def findsum(*number):
    result=0 
    for i in number:
        result=result+i
    print("sum",result)

In [80]:
findsum()

sum 0

In [81]:
findsum(1,2,3)

sum 6

In [82]:
findsum(2,3,4,7,8)

sum 24

In [83]:
def simple(*x):
    print(x)

In [84]:
simple()

()

In [85]:
simple(1,2,3,4,5,6,)

(1, 2, 3, 4, 5, 6)

In [99]:
def intro(**x):
    print("data type of arguments",type(x))
    for key ,value in x.items():
        print(key,value)

In [107]:
intro(first_name='pooja',last_name="rathore",age=30,id=771)

data type of arguments <class 'dict'>
first_name pooja
last_name rathore
age 30
id 771

In [101]:
x={'a':1,'b':2}

In [102]:
x

{'a': 1, 'b': 2}

In [103]:
type(x)

dict

In [104]:
x.items()

dict_items([('a', 1), ('b', 2)])

In [106]:
for keys ,value in x.items():
    print(keys,value)

a 1
b 2

In [108]:
def simple(**x):
    print(x)

In [109]:
simple(name='pooja',age=30,)

{'name': 'pooja', 'age': 30}

In [110]:
def shownumber(*args):
    print(args)

In [111]:
shownumber(1,3)

(1, 3)

In [114]:
def showkeyvale(**kwargs):
    print(kwargs)

In [115]:
showkeyvale(x=1,y=2)

{'x': 1, 'y': 2}

In [116]:
showkeyvale(x=1,y=2,w=0,r=5)

{'x': 1, 'y': 2, 'w': 0, 'r': 5}

## Lambda function

In [117]:
x=lambda:print("pw skills")

In [118]:
x()

pw skills

In [119]:
addnum=lambda a,b:a*b

In [121]:
addnum(5,5)

25

In [122]:
multi=lambda a,b:a*b

In [123]:
multi(2,2)

4

In [126]:
a= int(input("enter first number"))
b= int(input("enter second number"))
sqr=lambda a,b:(a**2,b**2)
print(sqr(a,b))

enter first number5
enter second number2
(25, 4)

In [7]:
def evenodd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

In [9]:
evenodd(25)

number is odd

In [11]:
x=lambda n:"number is even" if n%2==0 else"number is odd"

In [13]:
x(524)

'number is even'

# write a lambda function that accespts 2 arguments and return the greater amongst them

In [17]:
greater_number=lambda a,b: a if a>b else b

In [18]:
greater_number(45,52)

52

In [22]:
# lambda fucntion to fing sum of numbers

In [23]:
sum_of=lambda a,b,c:(a+b+c)

In [24]:
sum_of(1,3,2)

6

In [34]:
product=[{'name':'product1','price':50},
         {'name':'product2','price':40},
         {'name':'product3','price':30},
         {'name':'product4','price':80}]
#sorted()
sorted_products=sorted(product,key=lambda x:x['price'],reverse=True)

In [35]:
for i in sorted_products:
    print(i)

{'name': 'product4', 'price': 80}
{'name': 'product1', 'price': 50}
{'name': 'product2', 'price': 40}
{'name': 'product3', 'price': 30}

In [37]:
 sorted_products

[{'name': 'product4', 'price': 80},
 {'name': 'product1', 'price': 50},
 {'name': 'product2', 'price': 40},
 {'name': 'product3', 'price': 30}]

In [38]:
# wite a lambda expression that accepts a charater as argument and retun true if it is a volwel other flase
# a e i o u
# imran 
# i a

In [1]:
vowels=['a','e','i','o','u','A','E','I','O','U']
x=input("enter the string:")


vowels_list=[x[i] for i in range(len(x)) if x[i] in vowels]

enter the string:pooja

In [2]:
x=-10

In [3]:
abs(x)

10

In [4]:
l=[1,2,3,4]

In [5]:
max(l)

4

In [7]:
y=str(x)

In [8]:
type(x)

int

In [10]:
lan=['python','java','.net','php']

In [11]:
enumerate_prime=enumerate(lan)

In [13]:
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, '.net'), (3, 'php')]

### list  comprehnsion

In [15]:
list=[1,2,3,4,5,6,78,9,10]

In [16]:
a=[x for x in list]

In [17]:
a

[1, 2, 3, 4, 5, 6, 78, 9, 10]

In [18]:
list=[1,2,3,4,5,6,7,8,9,10]

In [21]:
a=[x*2 for x in list]

In [22]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
list=[1,2,3,4,5,6,7,8,9,10]

In [24]:
c=[x for x in list if x>5]

In [25]:
c

[6, 7, 8, 9, 10]

In [26]:
a=[]
for x in list:
    if x>5:
        a.append(x)

In [27]:
a

[6, 7, 8, 9, 10]

In [28]:
list=[1,2,3,4,5,6,7,8,9,10]

In [29]:
list=[1,2,3,4,5,6,7,8,9,10]
c=[i for i in list if i%2!=0]

In [30]:
c

[1, 3, 5, 7, 9]

In [32]:
list=[1,2,3,4,5,6,7,8,9,10]
c=[i for i in list if i%2==0]
c

[2, 4, 6, 8, 10]

In [33]:
list=[1,2,3,4,5,6,7,8,9,10]
c=[x for x in list if x>5 if x%2==0]

In [34]:
c

[6, 8, 10]

In [35]:
list=[1,2,3,4,5,6,7,8,9,10]
e=[x if x>4 else 'lessthan 4' for x in list]

In [36]:
e

['lessthan 4', 'lessthan 4', 'lessthan 4', 'lessthan 4', 5, 6, 7, 8, 9, 10]

In [38]:
lst=[1,2,3,4,5,6,7,8,9,10]
f=['two' if x%2==0 else 'three' if x%3==0 else 'not a & b' for x in lst]

In [39]:
f

['not a & b',
 'two',
 'three',
 'two',
 'not a & b',
 'two',
 'not a & b',
 'two',
 'three',
 'two']

In [40]:
list=[91,12,63,5]
f=

In [41]:
a=[]

for x in lst:
    if x%2==0:
        a.append('two')
    elif x%3==0:
        a.append('three')
    else:
        a.append("not 2 & 3")

In [42]:
a

['not 2 & 3',
 'two',
 'three',
 'two',
 'not 2 & 3',
 'two',
 'not 2 & 3',
 'two',
 'three',
 'two']